* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #map { height: 100%; }
body {
    background-color: #00356b;
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
body.placing, body.placing * {
    cursor: crosshair !important;
}
#map {
}
/* Prevent blue border appearing after map focus */
.gm-style iframe + div { border:none!important; }
/* Google stuff */
.gmnoscreen, .gmnoprint a, .gm-style-cc,
div a[rel="noopener"] img {
    display: none !important;
}
#splash {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 52, 107, 0.4);
    z-index: 100;
}
#splashContent {
    background: #00356b;
    max-width: 4in;
    padding: 30px 40px;
}
#splashContent h2 {
    font-size: 50px;
}
#splashContent p {
    margin: 10px 0;
}
#branding {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100px;
    background: #00356b;
}
#branding h1 {
    font-size: 20px;
}
#branding a {
    color: inherit;
}
#logo {
    width: 100%;
}
#placeButton {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    background: #00356b;
    font-weight: bold;
    cursor: pointer;
    animation: 5s pulse infinite;
}
body #placingText {
    display: none;
}
body.placing #placingText {
    display: block;
}
body.placing #placeText {
    display: none;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }

}
